bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.gitignore
/3/.idea/.idea.AdventOfCode.2024.3/.idea/.gitignore
/4/.idea/.idea.AdventOfCode.2024.4/.idea/.gitignore
/4/AdventOfCode.2024.4/.idea/.idea.AdventOfCode.2024.4/.idea/.gitignore
/4/.idea/.idea.AdventOfCode.2024.4/.idea/.name
/4/AdventOfCode.2024.4.sln.DotSettings.user
/.idea/encodings.xml
/3/.idea/.idea.AdventOfCode.2024.3/.idea/encodings.xml
/4/.idea/.idea.AdventOfCode.2024.4/.idea/encodings.xml
/4/AdventOfCode.2024.4/.idea/.idea.AdventOfCode.2024.4/.idea/encodings.xml
/.idea/indexLayout.xml
/3/.idea/.idea.AdventOfCode.2024.3/.idea/indexLayout.xml
/4/.idea/.idea.AdventOfCode.2024.4/.idea/indexLayout.xml
/4/AdventOfCode.2024.4/.idea/.idea.AdventOfCode.2024.4/.idea/indexLayout.xml
/.idea/vcs.xml
/3/.idea/.idea.AdventOfCode.2024.3/.idea/vcs.xml
/4/.idea/.idea.AdventOfCode.2024.4/.idea/vcs.xml
/4/AdventOfCode.2024.4/.idea/.idea.AdventOfCode.2024.4/.idea/vcs.xml
